{% extends 'contlog/base.html' %}
{% load static %}

{% block bootstrap3_extra_head %}
{% endblock %}

{% block title %}Прокатчики{% endblock %}

{% block content %}

<script type='text/javascript'>
$(function () {

  $(".js-create-cnt").click(function () {
    $.ajax({
      url: '{% url "create_contact" %}',
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-cnt").modal("show");
      },
      success: function (data) {
        $("#modal-cnt .modal-content").html(data.html_form);
      }
    });
  });

  $("#modal-cnt").on("submit", ".js-cnt-create-form", function () {
    var form = $(this);
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
          $("#contacts-table tbody").html(data.html_cnt_list);  
          $("#modal-cnt").modal("hide");
        }
        else {
          $("#modal-cnt .modal-content").html(data.html_form);
        }
      }
    });
    return false;
  });

});

</script>

<p>
    <button type="button" class="btn btn-primary js-create-cnt">
      <span class="glyphicon glyphicon-plus"></span>
      Новый прокатчик
    </button>
</p>

<table class="table" id="contacts-table">
    <thead>
      <tr>
        <th>№</th>
        <th>Прокатчик</th>
        <th>Города</th>
        <th>Телефоны</th>
        <th>Email</th>
        <th>Последнее событие</th>
      </tr>
    </thead>
    <tbody>
      {% include 'contlog/part_cont_list.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-cnt" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
    </div>
  </div>

{% endblock %}