{% extends 'contlog/base.html' %}

{% load bootstrap3 %}

{% block title %}Прокатчик{% endblock %}

{% block content %}

<form action="#" method="post" class="form">
    {% csrf_token %} 
    {% bootstrap_form form %}

            {% buttons %}
                <a href="{% url 'contact_list' %}" class="btn btn-default" role="button">Отмена</a>
                <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "save" %} Записать
                </button>
            {% endbuttons %}
</form>
{% endblock %}